<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        	<li><a href="/">Home</a></li>
		       	<li><a href="/about">About</a></li>
	            	<li><a href="/viz">Visualizations</a></li>
	        	<li><a href="https://kt-smitha.github.io/resume/Smitha_K_Resume.pdf" target="_blank">Resume</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/kt-smitha">github.com/kt-smitha</a></li>
				</ul>
			</footer>
		</body>
	</html>
